.container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: stretch;
    gap: 16px;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-item {
    background: maroon;
    width: 25%;
    /* height: 100px;     */
}

.box {
    background: black;
    width: 25%;
    /* height: 100px; */
    align-self: center;
}

.second-container {
    display: flex;
    justify-content: center;
    /* gap: 32px; */
    align-items: stretch;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

.left {
    background: lightcoral;
    width: 70%;
}

.right {
    background: crimson;
    width: 30%;
}

.adjust-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.flex-outer-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

.flex-inner-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.red-box {
    width: 100px;
    height: 100px;
    background-color: maroon;
}

#grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 50%;
    grid-template-rows: 400px 200px;
    grid-template-areas: 
        "side right right"
        "item3 right right";
    gap: 8px;
}

#grid-container .item {
    background-color: rgb(130, 176, 84);
}

.item1{
    grid-area: side;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

#grid-container .item4{
    grid-area: right;
    background-color: black;
}

.item5{
    grid-area: item4;
}