.container {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 16px;
   
    flex-direction: row;
    

    align-items: center;
    justify-content: center;

}

.flex-item {
    background: maroon;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    /* height: 100px;     */
    /* display:flex; */
    transition: all 0.5s ease-in-out;
}

.box {
    background: black;
    width: 25%;
    /* height: 100px; */
    align-self: center;
    flex-grow:1;
    flex-shrink: 1;

    transition: all 0.5s ease-in-out;
}


.flex-item:hover{
    width: 50%;
}


.second-container {
    display: flex;
    justify-content: center;
    /* gap: 32px; */
    align-items: stretch;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

.left {
    background: lightcoral;
    width: 70%;
}

.right {
    background: crimson;
    width: 30%;
}

.adjust-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.flex-outer-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

.flex-inner-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.red-box {
    width: 100px;
    height: 100px;
    background-color: maroon;
}

#grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 50%;
    grid-template-rows: 400px 200px;
    grid-template-areas: 
        "side right right"
        "item3 right right";
    gap: 8px;
}

#grid-container .item {
    background-color: rgb(130, 176, 84);
}

.item1{
    grid-area: side;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

#grid-container .item4{
    grid-area: right;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.item5{
    grid-area: item4;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(184, 134, 11, 0.5);
    position: absolute;
    top: -150px;
    left: 0px;
    z-index: 5;
}

.triangle{
    background-color: rgb(20, 184, 11, 0.5);
    position: absolute;
    top: -150px;
    right: 0px;
    z-index: 6;
    width: 700px;
    height: 700px;
    transform: rotate(45deg) translateX(400px) translateY(-100px);
    transform-origin: center;
    transition: 0.5s all ease-in;
}

.item4:hover .triangle{
    background-color: rgb(20, 184, 11, 1);
    width: 4000px;
    height: 4000px;
    transform: rotate(0deg) translateX(400px) translateY(-100px);
}

